<footer class="container-fluid">
    <div class="container">
        <p class="en-digits">
            Powered by
            <a href="https://sajadidev.ir" target="_blank">SajadiDev</a>
            - 2024
        </p>
    </div>
</footer>