<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه آزمون آنلاین TEFL | <%= pageTitle %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <link rel="shortcut icon" href="img/favicon.svg" type="image/svg+xml">
    <script src="js/jquery-3.6.3.min.js"></script>
</head>
<body>

<header class="container-fluid">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <h1><a class="white-link" href="/">سامانه آزمون آنلاین TEFL</a></h1>
            <div class="d-flex flex-wrap align-items-center header-btn-container">
                <% if(adminLoggedIn){ %>
                    <a class="header-btn" href="/admin">پنل مدیر</a>
                <% }else{ %>
                    <a class="header-btn" href="/login">ورود مدیر</a>
                <% } %>
                <a class="header-btn" href="/tracking">رهگیری آزمون</a>
            </div>
        </div>
    </div>
</header>